body{
    font-family: 'Poppins', sans-serif;
}

.icon {
    width: 30px;
}
.skills-padding {
    padding: 60px 0;
}
.card:hover{
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    color: white;
}
.card:hover h5{
    color:aqua;
}

.card{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;

}
span{
    color:#dc3545;
}
.nav-link:hover{
    color: #dc3545;
    text-decoration: underline 3px #dc3545 ;
}

